<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist SYSTEM"file://localhost/System/Library/DTDs/PropertyList.dtd"><plist version="0.9"><dict>   <key>CFBundleExecutable</key>   <string>eel</string>   <key>CFBundleName</key>   <string>eel</string>   <key>CFBundleIdentifier</key>   <string>com.owenmcgirr.eel</string>   <key>CFBundleInfoDictionaryVersion</key>   <string>6.0</string>   <key>CFBundleVersion</key>   <string>1.4.0.2.73</string>   <key>CFBundleDevelopmentRegion</key>   <string>en</string>   <key>CFBundlePackageType</key>   <string>APPL</string>   <key>CFBundleSignature</key>   <string></string>   <key>CFBundleGetInfoString</key>   <string></string>   <key>CFBundleShortVersionString</key>   <string></string>   <key>CFBundleIconFile</key>   <string>eel.icns</string><key>LSMinimumSystemVersion</key><string>10.6.0</string>   <key>CFBundleDocumentTypes</key>   <array>   </array></dict></plist>